<% include ../partials/header %>
  <header id="map">
    </header>
<br>
    <form class="form-inline"action="/restaurants" method="GET">
      <div class="form-group has-feedback">
        <label for="search"></label>
        <input class="form-control" type="text" name="search" placeholder="Search restaurants" autocomplete="off" />
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      </div>
    </form>
    <hr>
    <a class="pull-right" href="/restaurants/new">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Share New Restaurant
    </a>
  
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% if (noMatch !== null) {%>
      <div class="col-md-12">
        <h4><%= noMatch %></h4>
      </div>
    <% } %>
    <% restaurants.forEach(restaurant => {%>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail card">
          <img class="campground__image" data-src="<%= restaurant.image.url %>" alt="<%= restaurant.name %>" />
          <div class="caption">
              <h4 class="caption"><%= restaurant.name %></h4>
             
          </div>
          <p>
            <a class="btn btn-primary btn-sm btn-b-mg" href="/restaurants/<%= restaurant._id %>">
              More Info
            </a>
          </p>
        </div>
      </div>
    <% })%>
  </div>
  <script>
    var locations =
         [
           {
            "name": "Jack in the Box",
            "lat": 37.3326787,
            "lng": -121.8841442,
            "description": "Qualily burger and fries",
           },
           {
            "name": "Wienerschnitzel",
            "lat": 37.3447184,
            "lng": -121.8721046,
            "description": "It has decent food but a bit too much for my taste",
           },
           {
            "name": "Taco Bell",
            "lat": 37.3287601,
            "lng": -121.8589074,
            "description": "Fast-food chain serving Mexican-inspired fare such as tacos, quesadillas & nachos.",
           },
           {
            "name": "McDonald's",
            "lat": 37.3304293,
            "lng": -121.8601749,
            "description": "Classic, long-running fast-food chain known for its burgers, fries & shakes",
           },
           {
            "name": "Burger King",
            "lat": 37.3337432,
            "lng": -121.8542596,
            "description": "Well-known fast-food chain serving grilled burgers, fries & shakes, plus breakfast.",
           },
           {
            "name": "Wendy's",
            "lat": 37.3159321,
            "lng": -121.8739834,
            "description": "Fast-food burger chain serving sides such as chili & baked potatoes.",
           },
           {
            "name": "Carl's Jr.",
            "lat": 37.3412496,
            "lng": -121.9099976,
            "description": "Fast-food chain known for its variety of piled-high burgers & meal combos, plus shakes.",
           }

         ]
      function initMap(){
         var center = {lat: 37.3357192, lng: -121.8867076 };
         var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 8,
             center: center,
             scrollwheel: false
         });
         
         locations.forEach(restaurant=>{
          var marker = new google.maps.Marker({
        position: {lat: restaurant.lat, lng: restaurant.lng},
        map: map,
    });
    
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
         }
        )
        }
     </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLManIEbcbPo8JQM6cAZyR-oJfImyJwt8&callback=initMap"
     async defer></script> 
<% include ../partials/footer %>
